/* for mobile screens( xs, sm, md ) */
html{
	height: 100%;
	margin: 0; 
	padding: 0;
}

body{
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-image: url("img/eisen_background_mobile.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #72706F;
	height: 100%;
	margin: 0; 
	padding: 0;
	
	/* temp settings for testing */	
	/* background-size: 701px 464px; */
	/* max-width: 701px; */
}

.container-fluid {
	padding: 0px;
}

.navbar{
	height: 64px;
	margin: 0px;
	border-width: 0px;
	border-radius: 0px;
	background-color: white;
	padding-left: 13px;
	padding-right: 0px;
	padding-bottom: 11px;
	box-shadow: -1.5px 2.598px 5px rgba(0,0,0,0.15);
	position: relative;
	z-index: 2; /*in order to draw shadow over the my_navbar_mobile_view*/
}

.navbar-toggler{
	margin-right: 21px;
}

.navbar-brand{
	padding-top: 0px;
}

#my_link_to_english{
	color: #333399;
	font-size: 15px;
	font-weight: 700;
	text-decoration: underline;	
	margin-right: 19px;
	margin-left: 22px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 11px;
}


/* upper corners */
#my_corner{
	margin-top: 24px;
	margin-right: 27px;
}


/* links:	DEMOLÁCIE, STAVEBNÝ ODPAD, DRVENIE, KOVOVÝ ODPAD, PRENÁJOM STROJOV*/
#my_second_links_bar{
	margin-top: 50px; 
}

.my_second_links_bar_a{
	color: #242629;
	font-size: 17px;
	font-weight: 800;
}

.my_second_links_bar_li{
	margin-bottom: 11px;
}


/* navbar links  */
#my_navbar_mobile_view{
	background-color: #7CBC00;
	width: 222px;
	height: 400px;
	position: relative;
	z-index: 1; /*in order to accept navbar shadow*/
}

#my_navbar_menu{
	padding-top: 27px;
}

.my_navbar_menu_a, .my_navbar_submenu_a{
	font-size: 13px;
	font-weight: 600;
	color: #EEFFDF;
}	
.my_navbar_menu_li{
	margin-left: 33px;
	margin-top: -1px;
	margin-bottom: -1px;
}
	
#my_navbar_submenu{
	padding-top: 13px;	
	padding-bottom: 10px;	
}

.my_navbar_submenu_li{
	margin-left: 48px;	
	margin-top: -3px;
	margin-bottom: -2px;
}

#my_navbar_menu_phone{
	background-color: white;
	margin-left: 11px;
	margin-right: 11px;
	margin-bottom: 11px;
	width: 194px;
	height: 34px;
}

#my_phone_number{
	color: #7CBC00;
	font-weight: 700;
}

#my_phone_pict{
	margin-left: 31px;
	margin-right: 11px;
	position: relative;
	top: -2px;
}

