/* for mobile screens( xs, sm, md ) */
html{
	height: 100%;
	margin: 0; 
	padding: 0;
}

body{
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-image: url("img/eisen_background_mobile.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #72706F;
	height: 100%;
	margin: 0; 
	padding: 0;

	/* temp settings for testing */	
	/* background-size: 701px 464px; */
	/* max-width: 701px; */
}


/* navbar settings */
#first_navbar_responsive_space_mobile{
	width: 13px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 auto;
	        flex: 0 1 auto;	/* the space before brand image in navbar */
}

.navbar{
	height: 64px;
	margin: 0px;
	border-width: 0px;
	border-radius: 0px;
	background-color: white;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 11px;
	-webkit-box-shadow: -1.5px 4.5px 5px rgba(0,0,0,0.25);
	        box-shadow: -1.5px 4.5px 5px rgba(0,0,0,0.25);
	position: relative;
	z-index: 2; /*in order to draw shadow over the my_navbar_mobile_view*/
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
}

#navbar_toggler_mobile{
	padding: 0px;
}

.navbar-brand{
	padding-top: 0px;
	margin-left: 2px;
	margin-right: 2px;
}

#last_navbar_responsive_space_mobile{
	width: 35px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 auto;
	        flex: 0 1 auto;	/* the space after the button toggler at the end of navbar*/
}

#middle_navbar_responsive_space_mobile{
	width: 33px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 auto;
	        flex: 0 1 auto;	/* the space between the button toggler and link to english version*/
}

#my_link_to_english_mobile{
	color: #333399;
	font-size: 15px;
	font-weight: 700;
	text-decoration: underline;	
	padding: 0px;
}


/* settings for the rest of content */
.container-fluid {
	padding: 0px;
}

#my_row_content_mobile{
	position: relative;
	top: -64px; /* height of navbar	 */
}


/* upper corner*/
#my_corner_mobile{
	margin-top: 88px;
	margin-right: 27px;
}


/* links:	DEMOLÁCIE, STAVEBNÝ ODPAD, DRVENIE, KOVOVÝ ODPAD, PRENÁJOM STROJOV*/
#my_second_links_bar_mobile{

}

#my_second_links_bar_mobile_empty_space{
	margin-top: 64px; /* to prevent from hiding items under the navbar */
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 94px;
	        flex: 0 1 94px; /* responsive height */
}

.my_second_links_bar_a_mobile{
	color: #242629;
	font-size: 17px;
	font-weight: 800;
}

.my_second_links_bar_li_mobile{
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 36px;
	        flex: 0 1 36px; /* responsive height */
}


/* navbar links  */
#my_navbar_mobile_view{
	background-color: #7CBC00;
	width: 222px;
	height: 400px;
	position: absolute;
	z-index: 1; /*in order to accept navbar shadow*/
}

#my_navbar_menu_empty_place_mobile{
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 64px;
	        flex: 0 0 64px; /* to prevent from hiding items under the navbar */
}

/* an indent before the first menu item */
#my_navbar_menu_first_indent_mobile{
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 36px;
	        flex: 1 1 36px;
}

.my_navbar_menu_li_mobile{
	margin-left: 33px;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 38px;
	        flex: 1 1 38px;
	line-height: 0.8rem;	
}
.my_navbar_menu_a_mobile{
	font-size: 14px;
	font-weight: 400;
	color: #EDFFAC;
}

/* an indent before the first submenu item */
#my_navbar_submenu_upper_indent_mobile{
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 5px;
	        flex: 1 1 5px;
}
.my_navbar_submenu_li_mobile{
	margin-left: 48px;	
	-webkit-box-flex: 1;	
	    -ms-flex: 1 1 23px;	
	        flex: 1 1 23px;
	line-height: 0.8rem;	
}
.my_navbar_submenu_a_mobile{
	font-size: 14px;
	font-weight: 400;
	color: #EDFFAC;
}	
/* an indent under the last submenu item */
#my_navbar_submenu_bottom_indent_mobile{
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 12px;
	        flex: 1 1 12px;
}

/* an indent before the bottom panel with phone number*/
#my_navbar_menu_bottom_indent_mobile{
	-webkit-box-flex: 2;
	    -ms-flex: 2 1 20px;
	        flex: 2 1 20px;
}
#my_navbar_menu_bottom_mobile{
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 56px;
	        flex: 1 1 56px;
}

#my_navbar_menu_phone_mobile{
	background-color: white;
	margin-left: 11px;
	margin-right: 11px;
	margin-bottom: 11px;
	width: 194px;
	height: 34px;
}

#my_phone_number_mobile{
	color: #86AE33;
	font-weight: 700;
}

#my_phone_pict_mobile{
	margin-left: 31px;
	margin-right: 11px;
	position: relative;
	top: -2px;
}