/* for mobile screens( xs, sm, md ) */
body{
	background-image: url("img/eisen_background_mobile.jpg");
	/* background-size: 100% 100%; */
	background-size: cover;
	
	/* temp settings for testing */	
	/* background-size: 701px 464px; */
	/* max-width: 701px; */
}

/* links:	DEMOLÁCIE, STAVEBNÝ ODPAD, DRVENIE, KOVOVÝ ODPAD, PRENÁJOM STROJOV*/
#my_second_links_bar ul{
	margin-top: 58px;
}

#my_navbar_menu{
	margin-top: 102px;
}